front-end/dist/fale-conosco.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sigma Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-4 brand col-sm-4 text-center">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Sigma">
                            </a>
                        </figure>
                        <!-- /.col-md-4-->
                        <div class="col-md-8 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>(19) 3844 4228</span>
                                <a class="btn btn-custom noround" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <a href="sobre-nos.html">SIGMA SAÚDE</a>
                                    </li>
                                    <li>
                                        <a href="servicos.html">NOSSOS SERVIÇOS</a>
                                    </li>
                                    <li class="active">
                                        <a href="fale-conosco.html">FALE CONOSCO</a>
                                    </li>
                                    <li>
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="internas page-contato">
                <div class="container-big">
                    <div class="mapa-google" id="mapa-45">
                        <script>
                            window.onload = function()
                            {
                                document.getElementById('mapa-45').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                            }
                        </script>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mgb-30">
                            <form class="form-contato pd15">
                                <h3>NÓS ESTAMOS AQUI POR VOCÊ</h3>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome:">
                                </div>
                                <!-- /.form-group-->
                                <div class="form-group">
                                    <input class="form-control" type="email" id="email" name="email" placeholder="E-mail:">
                                </div>
                                <!-- /.form-group-->
                                <div class="form-group">
                                    <input class="form-control" type="tel" id="telefone" name="telefone" placeholder="Telefone: ( )">
                                </div>
                                <!-- /.form-group-->
                                <div class="form-group">
                                    <input class="form-control" type="text" id="assunto" name="assunto" placeholder="Assunto:">
                                </div>
                                <!-- /.form-group-->
                                <div class="form-group">
                                    <textarea class="form-control" id="mensagem" name="mensagem" rows="7" placeholder="Mensagem:"></textarea>
                                </div>
                                <!-- /.form-group-->
                                <div class="form-group">
                                    <button class="btn btn-custom">ENVIAR</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 mgb-30">
                            <div class="pd15 text-justify">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eos magnam expedita nesciunt libero, cumque vel quia a. Neque culpa iste pariatur, voluptate vel incidunt, laboriosam quis iusto molestias deserunt delectus
                                    necessitatibus consequatur, nostrum alias commodi nihil quia error distinctio omnis rem minus, sunt fuga! Magnam asperiores, delectus numquam sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /div.internas-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <div class="row area-contatos">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-5 col-endereco mgb-20">
                                <i class="icone endereco"></i>
                                <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                    <br>BAIRRO JARDIM AMÉRICA
                                    <br> PAULÍNIA - SÃO PAULO
                                    <br> CEP: 13.140-695</div>
                            </div>
                            <!-- /.col-endereco-->
                            <div class="col-sm-3 col-telefone mgb-20">
                                <i class="icone telefone-rodape"></i>
                                <div class="box">(19) 3324 0185</div>
                            </div>
                            <!-- /.col-telefone-->
                            <div class="col-sm-4 col-email mgb-20">
                                <i class="icone email"></i>
                                <div class="box">
                                    <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                </div>
                            </div>
                            <!-- /.col-email-->
                        </div>
                    </div>
                    <!-- /.col-md-10-->
                </div>
                <div class="text-center">
                    <div class="creditos mgt-10">Sigma © Todos os direitos reservados.
                        <br>Criações de Sites:
                        <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    </div>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-5"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>

front-end/source/pug/fale-conosco.pug
extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'contato'
//-block active

block conteudo
	// CONTEUDO
	div.internas.page-contato
		.container-big
			.mapa-google#mapa-45
				script.
					window.onload = function(){
						document.getElementById('mapa-45').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
					}
		.container
			.row
				.col-sm-6.mgb-30
					form.form-contato.pd15
						h3 NÓS ESTAMOS AQUI POR VOCÊ
						+campo('text','nome','Nome:')
						+campo('email','email','E-mail:')
						+campo('tel','telefone','Telefone: ( )')
						+campo('text','assunto','Assunto:')
						+textarea(7,'mensagem','Mensagem:')
						.form-group
							button.btn.btn-custom ENVIAR
				//- .col-sm-6.mgb-30
				.col-sm-6.mgb-30
					.pd15.text-justify
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eos magnam expedita nesciunt libero, cumque vel quia a. Neque culpa iste pariatur, voluptate vel incidunt, laboriosam quis iusto molestias deserunt delectus necessitatibus consequatur, nostrum alias commodi nihil quia error distinctio omnis rem minus, sunt fuga! Magnam asperiores, delectus numquam sapiente.

				//- .col-sm-6.mgb-30
			//- .row
	// /div.internas
