front-end/dist/index.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sigma Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo index">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-4 brand col-sm-4 text-center">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Sigma">
                            </a>
                        </figure>
                        <!-- /.col-md-4-->
                        <div class="col-md-8 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>(19) 3844 4228</span>
                                <a class="btn btn-custom noround" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li class="active">
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <a href="sobre-nos.html">SIGMA SAÚDE</a>
                                    </li>
                                    <li>
                                        <a href="servicos.html">NOSSOS SERVIÇOS</a>
                                    </li>
                                    <li>
                                        <a href="fale-conosco.html">FALE CONOSCO</a>
                                    </li>
                                    <li>
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="index">
                <!-- BANNER-->
                <section class="carousel slide" id="banner" data-interval="5000">
                    <div class="ctrls">
                        <div class="clearfix">
                            <a class="pull-left" href="#banner" data-carousel="prev">
                                <i class="icone banner-prev"></i>
                            </a>
                            <a class="pull-right" href="#banner" data-carousel="next">
                                <i class="icone banner-next"></i>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-inner">
                        <!-- repete-->
                        <figure class="item active">
                            <a href="#">
                                <img class="img-responsive" src="imagens/banners/banner-1.jpg" alt="nome/descricao">
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-2.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-1.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-2.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                    </div>
                    <!-- /.carousel-inner-->
                </section>
                <!-- /section.carousel#banner(data-interval="5000")-->
                <section class="area-bem-vindo">
                    <div class="container">
                        <header class="section-header">
                            <h2 class="text-center">Bem - Vindo à SIGMA</h2>
                        </header>
                        <div class="chamada text-center">
                            <p>A SIGMA oferece soluções para as coberturas de férias, faltas e afastamentos, com vantagens econômicas e total conformidade jurídica que aliada a experiência do GRUPO SANSIM presta serviços com altos niveis de satisfação.</p>
                        </div>
                    </div>
                </section>
                <!-- fim da área-bem-vindo-->
                <section class="area-servicos">
                    <header>
                        <h2 class="text-center">NOSSOS SERVIÇOS</h2>
                    </header>
                    <div class="container">
                        <div class="owl-carousel carousel-servicos" id="servicos">
                            <!-- repete-->
                            <div class="item">
                                <figure class="foto">
                                    <lazyimage data-src="imagens/conteudo/servico-1.jpg" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                </figure>
                                <div class="info">
                                    <h3>MEDICINA DE URGÊNCIA E EMERGÊNCIA</h3>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset
                                        lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
                                    <a class="btn btn-white" href="servicos-detalhes.html">CLIQUE E SAIBA MAIS</a>
                                </div>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <figure class="foto">
                                    <lazyimage data-src="imagens/conteudo/servico-1.jpg" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                </figure>
                                <div class="info">
                                    <h3>MEDICINA DE URGÊNCIA E EMERGÊNCIA</h3>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset
                                        lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
                                    <a class="btn btn-white" href="servicos-detalhes.html">CLIQUE E SAIBA MAIS</a>
                                </div>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <figure class="foto">
                                    <lazyimage data-src="imagens/conteudo/servico-1.jpg" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                </figure>
                                <div class="info">
                                    <h3>MEDICINA DE URGÊNCIA E EMERGÊNCIA</h3>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset
                                        lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
                                    <a class="btn btn-white" href="servicos-detalhes.html">CLIQUE E SAIBA MAIS</a>
                                </div>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <figure class="foto">
                                    <lazyimage data-src="imagens/conteudo/servico-1.jpg" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                </figure>
                                <div class="info">
                                    <h3>MEDICINA DE URGÊNCIA E EMERGÊNCIA</h3>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset
                                        lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
                                    <a class="btn btn-white" href="servicos-detalhes.html">CLIQUE E SAIBA MAIS</a>
                                </div>
                            </div>
                            <!-- fim repete item-->
                        </div>
                        <!-- /.owl-carousel#servicos-->
                    </div>
                </section>
                <!-- fim da area-servicos-->
                <section class="area-sobre">
                    <div class="container">
                        <header class="section-header">
                            <h2>Sobre Nós</h2>
                        </header>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chamada text-center">
                                    <p>Uma das maiores necessidades das prefeituras e serviços públicos é a substituição de profissionais da área de saúde, em especial nas áreas de urgência e emergência, em Pronto Atendimento e Pronto Socorros. Desta história
                                        de sucesso surgiu a SIGMA SERVIÇOS EM SAÚDE LTDA, uma empresa que já nasce forte e experiente, pois além de focada em seu segmento de atuação, traz em sua composição profissionais com larga experiência e atuação
                                        na área e a mesma qualidade, eficiência e gestão de custos que caracteriza os serviços SANSIM.</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <figure>
                                    <img class="img-responsive" src="imagens/estrutural/imagem-sobre.png" alt="Sigma Saúde">
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- fim da área-sobre-->
                <section class="area-depoimentos">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <header>
                                    <h2 class="text-center">O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS</h2>
                                </header>
                                <div class="owl-carousel carousel-depoimentos" id="depoimentos">
                                    <!-- repete-->
                                    <div class="item">
                                        <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
                                            fazer um livro de modelos de tipos. .</div>
                                        <h3>Nome do Cliente/Empresa</h3>
                                    </div>
                                    <!-- fim repete-->
                                    <!-- repete-->
                                    <div class="item">
                                        <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
                                            fazer um livro de modelos de tipos. .</div>
                                        <h3>Nome do Cliente/Empresa</h3>
                                    </div>
                                    <!-- fim repete-->
                                    <!-- repete-->
                                    <div class="item">
                                        <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
                                            fazer um livro de modelos de tipos. .</div>
                                        <h3>Nome do Cliente/Empresa</h3>
                                    </div>
                                    <!-- fim repete-->
                                </div>
                                <!-- /.owl-carousel#depoimentos-->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- fim da area-depoimentos-->
            </div>
            <!-- /main.index-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <!-- FORMULÁRIO CONTATO PRESENTE APENAS NA HOME -->
                <h3>Entre em contato conosco</h3>
                <form action="contato.html" method="post" data-ajax="true">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" placeholder="Nome:" title="Nome" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="E-mail:" title="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="assunto" placeholder="Assunto:" title="Assunto">
                            </div>
                        </div>
                        <!-- /.col-md-5-->
                        <div class="col-md-7 col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control" name="mensagem" placeholder="Mensagem:" title="Mensagem" rows="5" required></textarea>
                            </div>
                        </div>
                        <!-- /.col-md-7-->
                    </div>
                    <!-- /.row-->
                    <div class="row area-contatos">
                        <div class="col-md-2 col-md-push-10">
                            <div class="form-group text-right">
                                <button class="btn btn-transparent" type="submit">Enviar</button>
                            </div>
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-md-10 col-md-pull-2">
                            <div class="row">
                                <div class="col-sm-5 col-endereco mgb-20">
                                    <i class="icone endereco"></i>
                                    <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                        <br>BAIRRO JARDIM AMÉRICA
                                        <br> PAULÍNIA - SÃO PAULO
                                        <br> CEP: 13.140-695</div>
                                </div>
                                <!-- /.col-endereco-->
                                <div class="col-sm-3 col-telefone mgb-20">
                                    <i class="icone telefone-rodape"></i>
                                    <div class="box">(19) 3324 0185</div>
                                </div>
                                <!-- /.col-telefone-->
                                <div class="col-sm-4 col-email mgb-20">
                                    <i class="icone email"></i>
                                    <div class="box">
                                        <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                    </div>
                                </div>
                                <!-- /.col-email-->
                            </div>
                        </div>
                        <!-- /.col-md-10-->
                    </div>
                </form>
                <!-- /form-->
                <div class="text-center">
                    <div class="creditos mgt-10">Sigma © Todos os direitos reservados.
                        <br>Criações de Sites:
                        <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    </div>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-5"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>

front-end/source/pug/index.pug
extend common/template.pug

block title
	title Sigma Saúde

block conteudo
	// CONTEUDO
	div.index
		// BANNER
		section.carousel#banner(data-interval="5000").slide
			.ctrls
				.clearfix
					a(href="#banner",data-carousel="prev").pull-left: i.icone.banner-prev
					a(href="#banner",data-carousel="next").pull-right: i.icone.banner-next
			.carousel-inner
				-for(var b=0;b<4;b++)
					if b % 2 == 0
						-var banner = 'imagens/banners/banner-1.jpg'
					else
						-var banner = 'imagens/banners/banner-2.jpg'
					// repete
					figure.item(class=b==0?'active' : '')
						a(href="#")
							if(b==0)
								img(src=banner,alt="nome/descricao",class="img-responsive")
							else
								lazyimage(data-src=banner,data-alt="nome/descricao",data-class="img-responsive")
					// fim repete
			// /.carousel-inner
		// /section.carousel#banner(data-interval="5000")

		section.area-bem-vindo
			.container
				header.section-header
					h2.text-center Bem - Vindo à SIGMA
				div.chamada.text-center
					p A SIGMA oferece soluções para as coberturas de férias, faltas e afastamentos, com vantagens econômicas e total conformidade jurídica que aliada a experiência do GRUPO SANSIM presta serviços com altos niveis de satisfação.

		// fim da área-bem-vindo

		section.area-servicos
			header
				h2.text-center NOSSOS SERVIÇOS
			.container
				.owl-carousel#servicos.carousel-servicos
					-for(var c=0;c<4;c++)
						// repete
						.item
							figure.foto
								lazyimage(data-src="imagens/conteudo/servico-1.jpg",data-alt="imagem do serviço",data-class="img-responsive")
							.info
								h3 MEDICINA DE URGÊNCIA E EMERGÊNCIA
								// /figure.foto
								.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
								a(href="servicos-detalhes.html").btn.btn-white CLIQUE E SAIBA MAIS
						// fim repete item
				// /.owl-carousel#servicos
		// fim da area-servicos

		section.area-sobre
			.container
				header.section-header
					h2 Sobre Nós
				.row
					.col-md-6
						div.chamada.text-center
							p Uma das maiores necessidades das prefeituras e serviços públicos é a substituição de profissionais da área de saúde, em especial nas áreas de urgência e emergência, em Pronto Atendimento e Pronto Socorros. Desta história de sucesso surgiu a SIGMA SERVIÇOS EM SAÚDE LTDA, uma empresa que já nasce forte e experiente, pois além de focada em seu segmento de atuação, traz em sua composição profissionais com larga experiência e atuação na área e a mesma qualidade, eficiência e gestão de custos que caracteriza os serviços SANSIM.
					.col-md-6.text-center
						figure
							img(src="imagens/estrutural/imagem-sobre.png",alt="Sigma Saúde").img-responsive

		// fim da área-sobre

		section.area-depoimentos
			.container
				.row
					.col-md-8.col-md-offset-4
						header
							h2.text-center O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS

						.owl-carousel#depoimentos.carousel-depoimentos
							-for(var c=0;c<3;c++)
								// repete
								.item
									.depoimento
										| Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 	.
									h3 Nome do Cliente/Empresa
								// fim repete
						// /.owl-carousel#depoimentos
		// fim da area-depoimentos

	// /main.index
