front-end/dist/servicos-detalhes.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sigma Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-4 brand col-sm-4 text-center">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Sigma">
                            </a>
                        </figure>
                        <!-- /.col-md-4-->
                        <div class="col-md-8 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>(19) 3844 4228</span>
                                <a class="btn btn-custom noround" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <a href="sobre-nos.html">SIGMA SAÚDE</a>
                                    </li>
                                    <li class="active">
                                        <a href="servicos.html">NOSSOS SERVIÇOS</a>
                                    </li>
                                    <li>
                                        <a href="fale-conosco.html">FALE CONOSCO</a>
                                    </li>
                                    <li>
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="internas">
                <header class="page-header">
                    <h1>NOSSOS SERVIÇOS</h1>
                </header>
                <!--/-.page-header-->
                <div class="container">
                    <div class="row">
                        <article class="col-sm-4 mgb-30">
                            <figure class="mgb-15">
                                <a href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&amp;text=placeholder+image" data-lightbox="image-1" title="nome/descricao">
                                    <img class="img-responsive" src="http://dummyimage.com/500x500/33B3B1/fff.gif&amp;text=placeholder+image" alt="noe/descricao">
                                </a>
                            </figure>
                            <div class="album">
                                <figure>
                                    <a href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&amp;text=placeholder+image" data-lightbox="image-1" title="nome/descricao">
                                        <img class="img-responsive" src="http://dummyimage.com/60x60/33B3B1/fff.gif&amp;text=placeholder+image" alt="noe/descricao">
                                    </a>
                                </figure>
                                <figure>
                                    <a href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&amp;text=placeholder+image" data-lightbox="image-1" title="nome/descricao">
                                        <img class="img-responsive" src="http://dummyimage.com/60x60/33B3B1/fff.gif&amp;text=placeholder+image" alt="noe/descricao">
                                    </a>
                                </figure>
                                <figure>
                                    <a href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&amp;text=placeholder+image" data-lightbox="image-1" title="nome/descricao">
                                        <img class="img-responsive" src="http://dummyimage.com/60x60/33B3B1/fff.gif&amp;text=placeholder+image" alt="noe/descricao">
                                    </a>
                                </figure>
                                <figure>
                                    <a href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&amp;text=placeholder+image" data-lightbox="image-1" title="nome/descricao">
                                        <img class="img-responsive" src="http://dummyimage.com/60x60/33B3B1/fff.gif&amp;text=placeholder+image" alt="noe/descricao">
                                    </a>
                                </figure>
                            </div>
                        </article>
                        <article class="col-sm-8 mgb-30">
                            <h1 class="title-internas">
                                <i class="icone medico"></i> Nome do Serviço</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a,
                                dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla
                                suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a,
                                dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla
                                suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.</p>
                            <footer class="text-right mgt-20">
                                <a class="btn btn-outline-red noround btn-voltar" href="servicos.html">VOLTAR</a>
                            </footer>
                        </article>
                    </div>
                </div>
                <!-- /.container-->
            </div>
            <!-- /div.internas-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <div class="row area-contatos">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-5 col-endereco mgb-20">
                                <i class="icone endereco"></i>
                                <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                    <br>BAIRRO JARDIM AMÉRICA
                                    <br> PAULÍNIA - SÃO PAULO
                                    <br> CEP: 13.140-695</div>
                            </div>
                            <!-- /.col-endereco-->
                            <div class="col-sm-3 col-telefone mgb-20">
                                <i class="icone telefone-rodape"></i>
                                <div class="box">(19) 3324 0185</div>
                            </div>
                            <!-- /.col-telefone-->
                            <div class="col-sm-4 col-email mgb-20">
                                <i class="icone email"></i>
                                <div class="box">
                                    <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                </div>
                            </div>
                            <!-- /.col-email-->
                        </div>
                    </div>
                    <!-- /.col-md-10-->
                </div>
                <div class="text-center">
                    <div class="creditos mgt-10">Sigma © Todos os direitos reservados.
                        <br>Criações de Sites:
                        <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    </div>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-5"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>

front-end/source/pug/servicos-detalhes.pug
extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'servicos'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 NOSSOS SERVIÇOS
		///-.page-header
		.container

			.row
				article.col-sm-4.mgb-30
					figure.mgb-15
						a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
							img(src="http://dummyimage.com/500x500/33B3B1/fff.gif&text=placeholder+image", alt="noe/descricao").img-responsive
					.album
						-for(var x=0;x<4;x++)
							figure
								a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
									img(src="http://dummyimage.com/60x60/33B3B1/fff.gif&text=placeholder+image", alt="noe/descricao").img-responsive
				article.col-sm-8.mgb-30
					h1.title-internas #[i.icone.medico] Nome do Serviço
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a, dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a, dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.

					footer.text-right.mgt-20
						a(href="servicos.html").btn.btn-outline-red.noround.btn-voltar VOLTAR
			//- .row
		// /.container
	// /div.internas
