front-end/source/pug/sobre-nos.pug
extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'sobre'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		.container-big
			header.page-header
				h1 SOBRE NÓS
			///-.page-header
		.container
			.clearfix.page-text
				img(src="imagens/conteudo/imagem-1.jpg",data-alt="nome/descricao",alt="nome/descricao",style="float:left;margin:0 15px 15px 0")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		// /.container-fluid
	// /div.internas

front-end/dist/sobre-nos.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sigma Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-4 brand col-sm-4 text-center">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Sigma">
                            </a>
                        </figure>
                        <!-- /.col-md-4-->
                        <div class="col-md-8 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>(19) 3844 4228</span>
                                <a class="btn btn-custom noround" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li class="active">
                                        <a href="sobre-nos.html">SIGMA SAÚDE</a>
                                    </li>
                                    <li>
                                        <a href="servicos.html">NOSSOS SERVIÇOS</a>
                                    </li>
                                    <li>
                                        <a href="fale-conosco.html">FALE CONOSCO</a>
                                    </li>
                                    <li>
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="internas">
                <div class="container-big">
                    <header class="page-header">
                        <h1>SOBRE NÓS</h1>
                    </header>
                    <!--/-.page-header-->
                </div>
                <div class="container">
                    <div class="clearfix page-text">
                        <img src="imagens/conteudo/imagem-1.jpg" data-alt="nome/descricao" alt="nome/descricao" style="float:left;margin:0 15px 15px 0">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </div>
                <!-- /.container-fluid-->
            </div>
            <!-- /div.internas-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <div class="row area-contatos">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-5 col-endereco mgb-20">
                                <i class="icone endereco"></i>
                                <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                    <br>BAIRRO JARDIM AMÉRICA
                                    <br> PAULÍNIA - SÃO PAULO
                                    <br> CEP: 13.140-695</div>
                            </div>
                            <!-- /.col-endereco-->
                            <div class="col-sm-3 col-telefone mgb-20">
                                <i class="icone telefone-rodape"></i>
                                <div class="box">(19) 3324 0185</div>
                            </div>
                            <!-- /.col-telefone-->
                            <div class="col-sm-4 col-email mgb-20">
                                <i class="icone email"></i>
                                <div class="box">
                                    <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                </div>
                            </div>
                            <!-- /.col-email-->
                        </div>
                    </div>
                    <!-- /.col-md-10-->
                </div>
                <div class="text-center">
                    <div class="creditos mgt-10">Sigma © Todos os direitos reservados.
                        <br>Criações de Sites:
                        <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    </div>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-5"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>
